        .blog{
            margin: 5px auto;
            width: 50%;
            background-color: blueviolet;
            border-left: 10px solid tomato;
            border-radius: 10px;
            padding: 10px;
        }